
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 60px;
}


.container {
    background-color: #cecaca; 
    color: #333;
    padding: 20px; 
    text-align: center; 
}

.container p {
    font-size: 18px; 
}
